body {
  background: #93EDC7;
}

.button {
  background: #fff;
}

.main-buttons,
.main-quote,
.main-footer {
  text-align: center;
}

.main-buttons {
  padding: 30px 5px;
}

.main-quote {
  padding: 20px 10px;
  background: #fff;
  border-radius: 5px;
}

.main-footer {
  padding-top: 30px;
}

.main-footer p {
  padding: 0;
  margin: 0;
}